.post{
display: flex;
align-items: flex-start;
border-bottom: 10px solid var(--twitter-background);
}
.post-body > img{
    border-radius: 20px;
}

.post-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.verified-icon{
    color: var(--twitter-color);
    font-size: 15px !important;
}
.post-header-text{
    align-items: center;
}
.post-header-text > h3{
    font-size: 15px;
    margin-bottom: 5px;
}
.post-header-special{
    font-weight: 600;
    font-size: 12px;
    color: gray;
}
.post-avatar{
    padding: 20px;
}