.tweet-box{
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-background);
}
.tweet-box > form {
    display: flex;
    flex-direction: column;
}
.tweet-box-input{
    padding: 20px;
    display: flex;
}
.tweet-box-input > input{
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
}
.tweet-box-button{
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 900;
    text-transform: inherit;
    border-radius: 30px;
    width: 80px;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 10px;
}
.tweet-image-input{
    border: none;
    padding: 10px;
}